#top-section {
  width: 100%;
  height: 50px;
}

#left-section {
  float: left;
  width: 50%;
}

#left-section h3, #right-section h3{
	text-align: center;
}

#right-section {
  float: right;
  width: 50%;
}

#success {
  font-size: 1.5em;
  color: #FFF;
  background: #1BF21B;
  padding: 5px 10px;
  max-width: 100px;
  margin 10px auto;
  text-align: center;
  display: block;
}