<?php 
$computer_info = Viewer_Controller::$computer_info;

$user_likes = $computer_info['user_likes'];
$name = htmlentities($computer_info['name']);
$description = htmlentities($computer_info['description']);
$computer_id = $computer_info['computer_id'];
$cpu = htmlentities($computer_info['cpu_model']);
$gpu = htmlentities($computer_info['gpu_model']);
$ram = htmlentities($computer_info['ram']);
$images = $computer_info['images'];
$likes = htmlentities($computer_info['count']);
$creator = htmlentities($computer_info['username']);
$comment_count = $computer_info['comment_count'];
$thread = Viewer_Controller::$thread;

View::$title = htmlentities($computer_info['name']);
View::add_style("viewer_style.css");
View::add_script("unslider.js");
View::head();
?>
<h1>COMPUTER</h1>
<article>
<h3 style="padding-left: 10px; color: #FA2828;"><?php echo $name ?></h3>
<div id="images">
    <ul>
        <?php echo $images ?>
    </ul>
</div>
<span style="padding: 5px 20px; color: #666;">created by: <?php echo $creator ?></span>
<div id="specs">
<?php echo ($description != null) ? "<h4 style='display: block; margin-top: 15px;'>Description:</h4><br>\n<p style='max-height: 100px; overflow: scroll;'>".$description."</p>" : "" ?>
	<h4 style="display: block; margin-bottom: 15px;">Specs:</h4>
	<ul>
		<li><?php echo $cpu ?></li>
		<li><?php echo ($gpu != null)? $gpu : "No GPU" ?></li>
		<li><?php echo $ram ?></li>
		<li><?php echo $likes ?> likes</li>
	</ul>
	<div style="padding-left: 10px; width: 200px;">
	<?php echo (Viewer_Controller::$is_current_users_computer) ? "<a href='editComputer.php?id=$computer_id' class='danger button'>Edit</a>" : "";
		echo '<a style="margin: 10px;"';
		echo (!$user_likes) ? "href='like.php?id=$computer_id&path=viewComputer' class='good button'>Like</a>" : "href='unlike.php?id=$computer_id&path=viewComputer' class='good button'>Unlike</a>" ?>
	</div>
</div>
</article>
<article>
	<h4 style="display: block; margin-bottom: 5px;">Comments(<?php echo $comment_count ?>)</h4>
	<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']).'?id='.intval($_GET['id']) ?>" method="POST">
		<textarea name="comment-text" placeholder="Comment..." id="comment-box"></textarea>
		<input type="submit" name="comment-submit" value="Comment" class="good button" id="comment-button" />
		<div id="comment-section">
			<ul style="margin-top: 20px;">
				<?php echo $thread ?>
			</ul>
		</div>
		<input type="hidden" id="reply-id-value" name="reply-id-value" value="1">
	</form>
	
	<script>

		// Comment scripts
		$(document).ready(function() {
			$(".reply-box").hide();
		});


		$( ".reply-link" ).click(function() {
			var comment_id = $(this).attr('id');
			
			//Set hidden field value
			$("#reply-id-value").val( comment_id );

			if(!$('#reply-'+comment_id).is(':visible')) {
				$( ".reply-box" ).slideUp( "fast", function() {
				// Animation complete.
				});
			}

			$( "#reply-"+comment_id ).slideDown( "slow", function() {
				// Animation complete.
			});
		});


		// Slider scripts
		$('#images').unslider({
			speed: 500,               //  The speed to animate each slide (in milliseconds)
			delay: 5000,              //  The delay between slide animations (in milliseconds)
			complete: function() {},  //  A function that gets called after every slide animation
			keys: true,               //  Enable keyboard (left, right) arrow shortcuts
			dots: true,               //  Display dot navigation
			fluid: false              //  Support responsive design. May break non-responsive designs
		});
	</script>
</article>