<?php
View::$title = "Update -".Hardware_Controller::$computer_name;
View::head();
?>
<h1>UPDATE COMPUTER</h1>
<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF'])."?id=".Hardware_Controller::$computer_id ?>" method="POST">
    <p>Update the following information. Edit this computers pictures <a href="editImages.php?id=<?php echo intval($_GET['id']) ?>">here</a></p>
    <?php 
        // ERRORS
        Controller::display_errors();

        // Input
        $input = Hardware_Controller::$input;
    ?>
    <legend>Computer</legend>
        <textarea name="description" placeholder="Tell us more about your computer..." rows="4" cols="45"><?php echo $input['description'] ?></textarea>
    </fieldset>
    <fieldset>
    <legend>CPU</legend>
        <select name="cpu_make" id="cpu" class="small">
            <option value="0">CPU Make</option>
            <option value="1" <?php echo $input['cpu_make.1'];?>>Intel</option>
            <option value="2" <?php echo $input['cpu_make.2'];?>>AMD</option>
        </select>
        <select name="1_cpu" id="alt_cpu">
            <?php Hardware_Controller::make_cpu_list("Intel") ?>
        </select>
        <select name="2_cpu" id="amd_cpu">
            <?php Hardware_Controller::make_cpu_list("AMD") ?>
        </select>
        <br>
    </fieldset>
    <fieldset>
        <legend>GPU</legend>
        <select name="gpu_make" id="gpu" class="small">
            <option value="0">No GPU</option>
            <option value="1" <?php echo $input['gpu_make.1'];?>>Nvidia</option>
            <option value="2" <?php echo $input['gpu_make.2'];?>>AMD</option>
        </select>
        <select name="1_gpu" id="alt_gpu">
            <?php Hardware_Controller::make_gpu_list("Nvidia") ?>
        </select>
        <select name="2_gpu" id="amd_gpu">
            <?php Hardware_Controller::make_gpu_list("AMD") ?>
        </select>
        <span class="gpu_count"><input type="radio" name="gpu_count" class="gpu_count" value="1" <?php echo $input['gpu_count.1']?>>1</span>
        <span class="gpu_count"><input type="radio" name="gpu_count" class="gpu_count" value="2" <?php echo $input['gpu_count.2']?>>2</span>
        <span class="gpu_count"><input type="radio" name="gpu_count" class="gpu_count" value="3" <?php echo $input['gpu_count.3']?>>3</span>
        <span class="gpu_count"><input type="radio" name="gpu_count" class="gpu_count" value="4" <?php echo $input['gpu_count.4']?>>4</span>
    </fieldset>
    <fieldset>
    <legend>RAM</legend>
        <select name="ram_speed" class="small">
            <option value="0">RAM Speed</option>
            <?php Hardware_Controller::make_ram_speed_list() ?>
        </select>
        <select name="ram_size">
            <option value="0">RAM Size</option>
            <?php Hardware_Controller::make_ram_size_list() ?>
        </select>
    </fieldset>
    <fieldset>
        <?php 
        $id = Hardware_Controller::$computer_id;
        echo "<a href='deleteComputer.php?id=$id' class='danger button'>DELETE</a>";
        ?>
        <input type="submit" value="FINISH" class="good button"/>
    </fieldset>


<script type="text/javascript">
    
    function display_hardware(target) {
        var make;
        make = parseInt($("#"+target).val());
        
        if(target == "gpu"){
            $("."+target+"_count").show();
        }

        if(make == 0){
            $("#amd_"+target).hide();
            $("#alt_"+target).hide();
            if (target == "gpu") {
                $("."+target+"_count").hide();
            }
        }else if(make == 1){
            $("#amd_"+target).hide();
            $("#alt_"+target).show();
        }else {
            $("#amd_"+target).show();
            $("#alt_"+target).hide();
        }
    }

    $(document).ready(function() {
        display_hardware("cpu");
        display_hardware("gpu");
    });

    $( "#cpu" ).change(function() {
        display_hardware("cpu");
    });

    $( "#gpu" ).change(function() {
        display_hardware("gpu");
    });
       
</script>
</form>