<?php 
View::$title = "Register";
View::head();
?>
<body>
<h1>REGISTER</h1>
<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']) ?>" method="POST">
    <?php 
        // ERRORS
        Controller::display_errors();

        // Input
        $input = Register_Controller::$input;
    ?>
    <fieldset>
        <input type="email" placeholder="email" name="email" value="<?php echo $input['email'] ?>"/><br>
        <input type="password" placeholder="password" name="password" value="<?php echo $input['password'] ?>"/><br>
        <input type="password" placeholder="confirm password" name="confirm_password" value="<?php echo $input['confirm_password'] ?>"/><br>
	</fieldset>
    <fieldset>
        <input type="submit" value="ENTER" id="enter-button"/>
    </fieldset>
</form>
</body>