<?php 
View::$title = "Account";
View::add_style("account_style.css");
View::head();
?>
<h1>Account</h1>
<article>
<div id="top-section">
	<h4>User: <?php echo User_Controller::$email ?></h4>
	<?php echo ($_GET['success'] == 1) ? '<div id="success">Success!</div>' : ""?>
	
</div>
<div id="left-section">
	<h3>Your Computers</h3>
	<p style="display: block;">
		Update your computer information or add a new one.
	</p>
	<div style="margin-top:5px">
		<div style="height: 120px; overflow: scroll;">
		<?php User_Controller::make_computer_list(User_Controller::$computer_list); ?>
		</div>
		<div style="height: 120px; overflow: scroll;">
		<?php echo (User_Controller::$unfinished_computer_list != null) ? "<h3>Unfinished Computers</h3>" : "";
			User_Controller::make_computer_list(User_Controller::$unfinished_computer_list);
		 ?>
		 </div>
	</div>
</div>
<div id="right-section">
	<ul>
		<li><a href="signout.php" class="danger button">Sign out</a></li>
		<li><a href="addComputer.php" class="good button">Add Computer</a></li>
		<li><a href="browse.php" class="good button">Browse</a></li>
	<?php  
		if(Controller::is_admin()) {
			include("admin_section.html");
		}
	?>
	</ul>
</div>
</article>