<?php 
View::$title = "Sign in";
View::head();
?>
<h1>SIGN IN</h1>
<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']) ?>" method="POST">
    <?php 
         Controller::display_errors();

        // Input
        $input = User_Controller::$input;
    ?>
    <fieldset>
        <input type="text" placeholder="account" name="account" value="<?php echo $input['account'] ?>"/><br>
        <input type="password" placeholder="password" name="password" /><br>
	</fieldset>
    <fieldset>
    	or <a href="register.php">Register</a>
        <input type="submit" value="ENTER" class="good button"/>
    </fieldset>
</form>