<?php 
View::$title = "Stats";
View::add_script("chart/Chart.js");
View::add_style("stats_style.css");
View::head();
?>
<h1>STATS</h1>
<h3 style="text-align: center; color: #FA2828;">How Do You Stack Up?</h3>
<p style="margin-right: 80px;">
    Add your own computer's hardware, style and name to our database. Simply create an account
    and start comparing and sharing your creations with other people's!</p>
    <a href="browse.php" class="good button" style="margin-top: 20px; margin-left: 30px;">Browse</a>
    <a href="register.php"  class="good button" style="margin-top: 20px; margin-left: 50%;">Register</a>
<p>

<div class="left-section">
    
    <h3>Top Computers</h3>
    <p>These are the 5 most popular computers.</p>
    <table>
    <?php echo Stats_Controller::$top_computers; ?>
    </table>
</div>

<div class="right-section">
    <h3>Top Computer Colors</h3>
    <p>These are the 5 most popular color themes.</p>
    <table>
    <?php echo Stats_Controller::$top_colors; ?>
    </table>
</div>

<h3>CPU Core Distribution</h3>
<p>This chart shows how many cores each computer has in it's CPU.</p>
<div class="legend">
    <div class="legend-title">Legend</div>
    <div class="amd legend-item">AMD</div>
    <div class="intel legend-item">Intel</div>
</div>
<canvas id="cpu_core_distribution" class="radar_chart" width="400" height="400"></canvas>
<script>
<?php
$cpu_cores_data = Stats_Controller::$cpu_core_distribution;

$labels = $cpu_cores_data['labels'];

$amd_data = $cpu_cores_data['amd_data'];
$intel_data = $cpu_cores_data['intel_data'];

?>

var core_data = {
    labels: ["1 core",<?php echo $labels ?>],
    datasets: [
        {
            label: "AMD CPUs",
            fillColor: "rgba(240,40,60,0.2)",
            strokeColor: "rgba(240,40,60,1)",
            pointColor: "rgba(240,40,60,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#000",
            pointHighlightStroke: "rgba(240,40,60,1)",
            data: [0, <?php echo $amd_data ?>]
        },
        {
            label: "Intel CPUs",
            fillColor: "rgba(40,158,237,0.2)",
            strokeColor: "rgba(40,158,237,1)",
            pointColor: "rgba(40,158,237,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(40,158,237,1)",
            data: [0, <?php echo $intel_data ?>]
        }
    ]
};
</script>

<h3>CPU Clock Speed Distribution</h3>
<p>This chart shows the clock speeds of all computers. Note that a manufacturere may not make a CPU in some of the below clock speeds.</p>
<div class="legend">
    <div class="legend-title">Legend</div>
    <div class="amd legend-item">AMD</div>
    <div class="intel legend-item">Intel</div>
</div>

<canvas id="cpu_speed_distribution" class="radar_chart" width="400" height="400"></canvas>
<script>
<?php
$cpu_speed_data = Stats_Controller::$cpu_speed_distribution;

$labels = $cpu_speed_data['labels'];

$amd_data = $cpu_speed_data['amd_data'];
$intel_data = $cpu_speed_data['intel_data'];

?>

var speed_data = {
    labels: [<?php echo $labels ?>],
    datasets: [
        {
            label: "AMD CPUs",
            fillColor: "rgba(240,40,60,0.2)",
            strokeColor: "rgba(240,40,60,1)",
            pointColor: "rgba(240,40,60,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#000",
            pointHighlightStroke: "rgba(240,40,60,1)",
            data: [<?php echo $amd_data ?>]
        },
        {
            label: "Intel CPUs",
            fillColor: "rgba(40,158,237,0.2)",
            strokeColor: "rgba(40,158,237,1)",
            pointColor: "rgba(40,158,237,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(40,158,237,1)",
            data: [<?php echo $intel_data ?>]
        }
    ]
};
</script>

<div class="left-section">
    <h3>Top CPUs</h3>
    <p>These are the 5 most popular CPUs</p>
    <table>
    <?php echo Stats_Controller::$top_cpus; ?>
    </table>
</div>
<div class="right-section">
    <h3>Popular Tasks</h3>
    <p>These are the 5 most common ways people use their PCs</p>
    <table>
    <?php echo Stats_Controller::$top_tags; ?>
    </table>
</div>

<h3>GPU SLI/Crossfire Distribution</h3>
<p>This chart shows how many GPU's people have in each system.</p>
<canvas id="gpu_count_distribution" width="300" height="300"></canvas>
<?php
    $gpu_count = Stats_Controller::$gpu_count;
?>
<script>

var gpu_count_data = [
    {
        value: <?php echo $gpu_count[0] ?>,
        color:"#4D5360",
        highlight: "#616774",
        label: "0 Cards"
    },
    {
        value: <?php echo $gpu_count[1] ?>,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "1 Card"
    },
    {
        value: <?php echo $gpu_count[2] ?>,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "2 Cards"
    },
    {
        value: <?php echo $gpu_count[3] ?>,
        color: "#949FB1",
        highlight: "#A8B3C5",
        label: "3 Cards"
    },
    {
        value: <?php echo $gpu_count[4] ?>,
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "4 Cards"
    }

];
</script>

<h3>RAM Distribution</h3>
<p>This chart shows the types of RAM people have in their systems.</p>
<div class="legend">
    <div class="legend-title">Legend</div>
    <div class="legend-item" style="background-color: rgba(220,220,220,0.5);">4GB</div>
    <div class="legend-item" style="background-color: rgba(151,187,205,0.5);">8GB</div>
    <div class="legend-item" style="background-color: rgba(240,65,75,0.5);">16GB</div>
    <div class="legend-item" style="background-color: rgba(90,200,115,0.5);">32GB</div>
</div>
<canvas id="ram_distribution" width="500" height="500"></canvas>
<?php
    $ram_data = Stats_Controller::$ram_distribution;
?>


<script>
var ram_distribution_data = {
    labels: [<?php echo $ram_data['labels']; ?>],
    datasets: [
        {
            label: "4GB",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [<?php echo $ram_data['size_4']; ?>]
        },
        {
            label: "8GB",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [<?php echo $ram_data['size_8']; ?>]
        },
        {
            label: "16GB",
            fillColor: "rgba(240,65,75,0.5)",
            strokeColor: "rgba(240,65,75,0.8)",
            highlightFill: "rgba(240,65,75,0.75)",
            highlightStroke: "rgba(240,65,75,1)",
            data: [<?php echo $ram_data['size_16']; ?>]
        },
        {
            label: "32GB",
            fillColor: "rgba(90,200,115,0.5)",
            strokeColor: "rgba(90,200,115,0.8)",
            highlightFill: "rgba(90,200,115,0.75)",
            highlightStroke: "rgba(90,200,115,1)",
            data: [<?php echo $ram_data['size_32']; ?>]
        }
    ]
};


</script>


<script>
window.onload = function(){

    var cpu_core_canvas = document.getElementById("cpu_core_distribution").getContext("2d");
    var cpu_core_distribution_RadarChart = new Chart(cpu_core_canvas).Radar(core_data);

    var cpu_speed_canvas = document.getElementById("cpu_speed_distribution").getContext("2d");
    var cpu_speed_distribution_RadarChart = new Chart(cpu_speed_canvas).Radar(speed_data);

    var gpu_count_canvas = document.getElementById("gpu_count_distribution").getContext("2d");
    var gpu_count_chart = new Chart(gpu_count_canvas).Pie(gpu_count_data);

    var ram_distribution_canvas = document.getElementById("ram_distribution").getContext("2d");
    var ram_distribution_chart = new Chart(ram_distribution_canvas).Bar(ram_distribution_data);


}
</script>