<?php
View::$title = "Add Computer";
View::head();
?>
<body>
<h1>ADD COMPUTER</h1>
<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']) ?>" method="POST">
    <?php 
        // ERRORS
        Controller::display_errors();

        // Input
        $input = Computer_Controller::$input;
    ?>
    <fieldset>
        <input type="text" placeholder="Build Name" name="name" /><br>
        <textarea name="description" placeholder="Tell us the story of your computer..." rows="4" cols="45"></textarea>
    </fieldset>
    <fieldset>
        <select name="color">
            <option>Build Color...</option>
            <option>Black</option>
            <option>White</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Yellow</option>
            <option>Green</option>
            <option>Pink</option>
            <option>Grey</option>
        </select><br>
        Purpose:<br>
        <input type="checkbox" name="purposes[]" value="video">Video editting<br>
        <input type="checkbox" name="purposes[]" value="gaming">Gaming<br>
        <input type="checkbox" name="purposes[]" value="school">School<br>
        <input type="checkbox" name="purposes[]" value="work">Work<br>
    </fieldset>
    <fieldset>
        <input type="submit" value="ADD" id="enter-button"/>
    </fieldset>
</form>
</body>