<?php 
View::$title = "Home";
View::head();
?>
<h1>WELCOME</h1>
<article>
<p>This is a site where people can enter the specs of their computer and
	compare it to other's.</p>
<a href="https://www.linkedin.com/pub/brandt-newton/91/270/649"><img  style="float: right; margin: 0 10px; border: 1px solid #000; box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);" src="res/brandt_thomas_newton.jpg" height="150"></a>
<p> My name is Brandt Newton, I am a junior at UVM majoring in Computer Science and minoring in Math. My long term goals include pursuing a career in New England.
</p>
<p>
I built this site using an MVC design pattern, and light-weight PHP framework that this site runs on.
</p>
</article>