<?php
include "top.php";
include "footer.php";

// Models:

// Controllers:
require_once("new_computer_controller.php");

?>

<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']) ?>" method="POST">
    <?php 
        // ERRORS
    ?>
    <fieldset>
        <input type="text" placeholder="Build Name" name="build_name" /><br>
       	<textarea rows="4" cols="45">Tell us the story of your computer...</textarea>
        <select name="color">
            <option>Black</option>
            <option>White</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Yellow</option>
            <option>Grey</option>
    	</select>
    	<input type="checkbox" name="purpose" value="video">Video editting<br>
    	<input type="checkbox" name="purpose" value="gaming">Gaming<br>
    	<input type="checkbox" name="purpose" value="school">School<br>
    	<input type="checkbox" name="purpose" value="work">Work<br>
	</fieldset>
    <fieldset>
        <input type="submit" value="Search" />
    </fieldset>
</form>